.w60 {
    width: 64%;
    margin-left: 17%;
}

.w80 {
    width: 80%;
    margin-left: 10%;
}

.w90 {
    width: 90%;
    margin-left: 5%;
}

.audio_btn {
    display: none;
}

.couple {
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 7%;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    color: #fff;
    text-align: center;
}

.couple span {
    display: inline-block;
    border-bottom: 2px solid #fff;
    padding: 0 3% 0 3%;
}

.couple img {
    display: inline-block;
    width: 8%;
}

.gift {
    margin-top: 8%;
}

.toget, .toget2 {
    margin-top: 10%;
}

.toget2 {
    margin-top: 20%;
}

.go {
    margin-top: 10%;
}

.go img {
    width: 46%;
    cursor: pointer;
}

.go .share {
    float: left;
}

.go .again {
    float: right;
}

.download {
    margin-top: 5%;
    cursor: pointer;
}

.guid {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}

.guid .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 11;
    background: rgba(0, 0, 0, 0.8);
}

.guid .con {
    color: #fff;
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 12;
}

.con .hander {
    width: 100%;
    display: block;
}

.con .hander img {
    opacity: 0;
    margin-left: 14%;
    margin-top: 72%;
    width: 30%;
}

.con .lao {
    position: absolute;
    width: 100%;
    top: 15%;
}

.con .lao .ren {
    width: 80%;
    margin-left: -100%;
}

.con .lao .wen {
    font-size: 14px;
    text-align: center;
    opacity: 0;
    margin-top: 8%;
}

.wen p {
    padding: 0;
    margin: 5px 0 0 0;
}

.con .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
}

.top .foot {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.top .foot img {
    width: 20%;
    margin-left: 70%;
}

.footer img {
    width: 20%;
    margin-left: 40%;
}

.logo {
    width: 100%;
    position: absolute;
    bottom: 15px;
}

.logo img {
    width: 20%;
    margin-left: 40%;
}