<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>泡面短视频，和明星一起演对手戏！</title>
    <meta charset="utf-8">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no,email=no,date=no,address=no" name="format-detection">
    <meta content="mobile" name="applicable-device">
    <meta content="IE=edge, chrome=" http-equiv="X-UA-Compatible">
    <meta name="keywords" content="电影，短视频，泡面短视频，泡面视频，演戏，飙戏，泡面短视频APP，短视频APP，电影片段，泡面短视频官网，明星"/>
    <meta name="description"
          content="泡面短视频，让我们和影帝一起飙戏，和明星一起唱歌，和美女一起跳舞"/>
    <link rel="shortcut icon" href="/static/img/sharepage/favicon.png"/>
    <link href="/static/css/sharepage/base.css?version=1.0" rel="stylesheet" type="text/css"/>
    <link href="/static/css/sharepage/topicDetail.css?version=1.0" rel="stylesheet" type="text/css"/>
    <style>
        /*
            让1rem的大小在iPhone6下等于100px
            px单位替换成rem，除以100，比如80px，就是0.8rem
        */
        html {
            font-size: calc(100vw / 3.75);
        }

        body {
            background-color: #161616;
            overflow-x: hidden;
        }

        .container {
            background-color: transparent;
        }
    </style>
</head>
<body onselectstart="return false">
<div style="display: none;">
    <img src="" id="shareImg" alt="分享图"/>
</div>
<header id="header" class="z10">
    <img src="/static/img/sharepage/logo.png" alt="logo">

    <div class="share-detail">
        <p class="share-title">和明星一起演对手戏！</p>
        <a id="deepLink" onclick="openApp('topic')" href="javascript:void(0);" class="btn-ios">打开看看</a>
    </div>
</header>

<section id="section" v-cloak>
    <!-- 提示在浏览器打开 -->
    <div class="open-tips" v-if="showOpenTips">
        <div class="tip-bg"></div>
        <div class="tip-list">
            <div class="step1">
                <span>1.点击右上角</span><img class="icon" src="/static/img/sharepage/tip1.png" alt=""><img
                    class="arrow" src="/static/img/sharepage/arrow.png" alt="">
            </div>
            <div class="step2">
                <div class="up">
                    <img src="/static/img/sharepage/tiplink.png" alt="">
                </div>
                <div class="text">
                    2.在菜单中点击<span>浏览器</span>打开
                </div>
            </div>
            <div class="step3">
                <div class="up">
                    <img src="/static/img/sharepage/tiplink2.png" alt="">
                </div>
                <div class="text">
                    3.开启<span>泡面短视频App</span><img src="/static/img/sharepage/tipicon.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 错误处理 -->
    <div class="error-page z9" v-if="showError">
        <div class="wrap">
            <p class="info">诶？页面不见了，/(ㄒoㄒ)/</p>

            <p class="guide">点击打开看看来寻找泡面君吧！</p>
        </div>
    </div>
    <div class="container" v-if="!showError && !showOpenTips">
        <!-- 话题主体 -->
        <div class="topic-wrap">
            <div class="bg" v-bind:style="styleObject">
            </div>
            <div class="layer">
                <div class="title fs20 alic fwb">
                    <span class="yellow">#</span>{{ title }}
                </div>
                <div class="hot alic fs12" v-if="score">
                    <img src="/static/img/sharepage/hot.png" alt="">{{ score }}
                </div>
                <div class="des fs15">
                    {{ des }}
                </div>
                <div class="sponsor">
                    <img :src="avatar" alt="头像" class="avatar fl">

                    <div class="fs12">
                        <div class="yellow">发起人：</div>
                        <div class="name">{{ name }}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- top和new视频 -->
        <div class="top-video-wrap">
            <div class="tab" @click="changeTab">
                <div class="left dsilb alic">TOP</div>
                <div class="right dsilb alic">最新</div>
                <div class="btn" v-bind:class="{ 'btn-left': isLeft , 'btn-right': isRight }">{{ isTop ? 'TOP': '最新'
                    }}
                </div>
            </div>
            <div class="video-list">
                <ul class="clearfix">
                    <li class="fl" v-if="sponsor&&isLeft">
                        <div @click="gotoVideo(sponsor.id)">
                            <div class="tag fs11">
                                发起
                            </div>
                            <img v-if="sponsor.height > sponsor.width" :src="sponsor.coverUrl" alt="">
                            <!--宽大于高时需要旋转-->
                            <img v-else :src="sponsor.coverUrl + '@base@tag=imgScale&r=2&rotate=90'" alt="">
                            <div class="title ellipsis">
                                {{ sponsor.name }}
                            </div>
                            <div class="info clearfix">
                                <img :src="avatar" class="fl" alt="">
                                <div class="name ellipsis">{{ name }}</div>
                                <span class="count fr" v-if="showCount != 0">
                                    <img src="/static/img/sharepage/play2.png" alt="">{{ showCount }}
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="fl" v-for="(item, index) in videoList">
                        <div @click="gotoVideo(item.vpId)">
                            <div class="num fs18" v-if="isLeft">
                                NO.{{ index+1 }}
                            </div>
                            <img v-if="item.height > item.width" :src="item.coverUrl" alt="">
                            <img v-else :src="item.coverUrl + '@base@tag=imgScale&r=2&rotate=90'" alt="">
                            <div class="title ellipsis">
                                {{ item.videoText}}
                            </div>
                            <div class="info clearfix">
                                <img v-if="item.user.avatarUrl" :src="item.user.avatarUrl" class="fl" alt="">
                                <img v-else src="/static/img/sharepage/avatar.png" class="fl" alt="">
                                <div class="name ellipsis">{{ item.user.username }}</div>
                                <span class="count fr" v-if="item.viewShowCount != 0">
                                    <img src="/static/img/sharepage/play2.png" alt="">{{ item.viewShowCount }}
                                </span>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- 底部下载链接 -->
        <div class="footer">
            <a class="app-btn" onclick="openApp('topic')"></a>
        </div>
    </div>
</section>
<script type="text/javascript" src="/static/js/axios.min.js"></script>
<script type="text/javascript" src="/static/js/vue.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script>

    //获取电影详情
    function getMovieDetail(id) {
        return axios.get('/api/movie/' + id);
    }


    var app = new Vue({
        el: '#section',
        data: {
            showOpenTips: false, // 判断该链接是否为提示后的newlink
            styleObject: '', //模糊背景
            avatar: '', //头像
            name: '', //用户名称
            title: '', //话题名称
            des: '', //话题描述
            score: '', //话题火热
            sponsor: '', //发起视频
            showCount: '', //发起视频播放的次数
            videoList: [], //显示的视频
            hotList: [], //热门视频
            newList: [], //最新视频
            isTop: true, //tab是否切换到了top列表
            isLeft: true, //默认在tab左侧
            isRight: false,
            showError: false //显示错误页
        },
        created: function () {
            var _self = this,
                _id = parseUrl('id'),
                _url = '/m/topic/detail?topicId=' + _id,
                _tips = parseUrl('sharetip');
            if (_self.isWeixin() && _tips) { // 页面在微信内打开，且tips的标识为true，则不调deeplink，改为展示指引页
                document.getElementById('header').style.display = 'none';
                _self.showOpenTips = true;
                return;
            } else { // 在浏览器内打开
                if (_tips) { // tips的标识为true，自动调用deeplink
                    document.getElementById('deepLink').click();
                    return;
                }
            }
            axios.get(_url).then(function (res) {
                if (res.data.status !== 0) { //返回值code不为0
                    _self.showError = true;
                }
                var obj = res.data.data; //数据
                //配置微信分享
                document.title = '我正在参与泡面短视频' + obj.topic.name + '快来和我一起玩';
                if (obj.topic.video) { //如果存在发起视频，分享图为该视频封面
                    document.getElementById('shareImg').src = obj.topic.video.coverUrl;
                } else {
                    document.getElementById('shareImg').src = obj.hotVideos[0].coverUrl;
                }

                if (obj.topic.cover) {
                    _self.styleObject = {
                        backgroundImage: "url('" + obj.topic.cover.url + "')"
                    };
                } else {
                    _self.styleObject = {
                        backgroundImage: "url('/static/img/sharepage/cover.png')"
                    };
                }
                _self.avatar = obj.topic.user.avatarUrl ? obj.topic.user.avatarUrl : '/static/img/sharepage/avatar.png';

                _self.name = obj.topic.user.username;
                _self.title = obj.topic.name;
                _self.des = obj.topic.description;
                _self.score = obj.topic.score;
                _self.showCount = obj.topic.viewShowCount;
                _self.sponsor = obj.topic.video;
                _self.videoList = obj.hotVideos;
                _self.hotList = obj.hotVideos;
                _self.newList = obj.newVideos;
            }).catch(function (error) {
                var str = error.toString();
                if (str == 'Error: Request failed with status code 404') {
                    _self.showError = true;
                }
            });
        },
        methods: {
            gotoVideo: function (id) { //打开视频详情页
                window.location.href = 'video_detail.html?id=' + id;
            },
            changeTab: function () { //切换tab

                this.isTop = !this.isTop;
                this.isLeft = !this.isLeft;
                this.isRight = !this.isRight;
                //切换成功后刷新视频列表
                if (this.isTop) {
                    this.videoList = this.hotList;
                } else {
                    this.videoList = this.newList;
                }
            },
            isWeixin: function () { //判断是否是微信
                var ua = navigator.userAgent.toLowerCase();
                return ua.match(/MicroMessenger/i) == "micromessenger";
            }

        }
    })

</script>
</body>
</html>
