<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>泡面短视频，和明星一起演对手戏！</title>
    <meta charset="utf-8">
    <meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no,email=no,date=no,address=no" name="format-detection">
    <meta content="mobile" name="applicable-device">
    <meta content="IE=edge, chrome=" http-equiv="X-UA-Compatible">
    <meta name="keywords" content="电影，短视频，泡面短视频，泡面视频，演戏，飙戏，泡面短视频APP，短视频APP，电影片段，泡面短视频官网，明星"/>
    <meta name="description"
          content="泡面短视频，让我们和影帝一起飙戏，和明星一起唱歌，和美女一起跳舞"/>
    <link rel="shortcut icon" href="/static/img/sharepage/favicon.png"/>
    <link href="/static/css/sharepage/base.css?version=1.2" rel="stylesheet" type="text/css"/>
    <link href="/static/css/sharepage/videoDetail.css?version=1.2" rel="stylesheet" type="text/css"/>
    <style>
        /*
            让1rem的大小在iPhone6下等于100px
            px单位替换成rem，除以100，比如80px，就是0.8rem
        */
        html {
            font-size: calc(100vw / 3.75);
        }
    </style>
</head>
<body onselectstart="return false">
<div style="display: none;">
    <img src="" id="shareImg" alt="分享图"/>
</div>
<header id="header" class="z10">
    <img src="/static/img/sharepage/logo.png" alt="logo">
    <div class="share-detail">
        <p class="share-title">和明星一起演对手戏！</p>
        <a id="deepLink" onclick="openApp('video')" href="javascript:void(0);" class="btn-ios">打开看看</a>
    </div>
</header>

<section id="section" v-cloak>
    <!-- 提示在浏览器打开 -->
    <div class="open-tips" v-if="showOpenTips">
        <div class="tip-bg"></div>
        <div class="tip-list">
            <div class="step1">
                <span>1.点击右上角</span><img class="icon" src="/static/img/sharepage/tip1.png" alt=""><img
                    class="arrow" src="/static/img/sharepage/arrow.png" alt="">
            </div>
            <div class="step2">
                <div class="up">
                    <img src="/static/img/sharepage/tiplink.png" alt="">
                </div>
                <div class="text">
                    2.在菜单中点击<span>浏览器</span>打开
                </div>
            </div>
            <div class="step3">
                <div class="up">
                    <img src="/static/img/sharepage/tiplink2.png" alt="">
                </div>
                <div class="text">
                    3.开启<span>泡面短视频App</span><img src="/static/img/sharepage/tipicon.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- 错误处理 -->
    <div class="error-page z9" v-if="showError">
        <div class="wrap">
            <p class="info">诶？页面不见了，/(ㄒoㄒ)/</p>
            <p class="guide">点击打开看看来寻找泡面君吧！</p>
        </div>
    </div>
    <div class="container" v-if="!showError && !showOpenTips">
        <!-- 播放视频 -->
        <div class="video-detail">
            <div class="video-wrap" id="videoWrap">
                <div class="video-poster" v-show="showPoster">
                    <img :src="cover" alt="视频封面">
                    <span class="play-btn" @click="playVideo"></span>
                </div>
                <div class="video-play" v-show="showVideo">
                    <video id="media" @click="videoStatus" class="video-player" :src="videoUrl" :poster="cover"
                           type="video/mp4" webkit-playsinline="true" playsinline="true"
                           x5-video-player-type="h5" @ended="mediaEnd()"></video>
                    <span class="play-btn" v-show="showBtn" @click="videoStatus"></span>
                    <div class="pop-shade" v-show="showPop">
                        <div class="pop-bg"></div>
                        <img src="/static/img/sharepage/replay.png" @click="playVideo" alt="重播">
                        <div class="tips">重播</div>
                        <div class="btn">查看更多精彩</div>
                    </div>
                </div>
            </div>
            <!-- 用户信息 -->
            <div class="user-info">
                <img :src="avatar" alt="用户头像" class="avatar">
                <div class="user-info-detail">
                    <div class="name">
                        {{ name }}
                    </div>
                    <div class="des">{{ des }}</div>
                </div>
                <a onclick="openApp('video')" href="javascript:void(0);" class="open-btn">
                    <img src="/static/img/sharepage/follow2.png" alt="">
                </a>
            </div>
        </div>
        <!-- 用户精彩视频 -->
        <div class="user-video" v-if="userVideo">
            <div>
                <span>{{ name }}</span>的精彩视频
            </div>
            <div class="video-list scrollx">
                <ul>
                    <li @click="gotoVideo(item.vpId)" v-for="item in userVideo">
                        <img v-if="item.height > item.width" :src="item.coverUrl" alt="用户视频">
                        <img v-else :src="item.coverUrl + '@base@tag=imgScale&r=2&rotate=90'" alt="用户视频">
                    </li>
                </ul>
            </div>
        </div>
        <!-- 热门视频 -->
        <div class="hot-video" v-if="hotVideo">
            <div>热门泡面视频</div>
            <ul class="video-list clearfix">
                <li class="fl" v-for="item in hotVideo">
                    <div @click="gotoVideo(item.vpId)">
                        <img v-if="item.height > item.width" :src="item.coverUrl" alt="热门视频">
                        <img v-else :src="item.coverUrl + '@base@tag=imgScale&r=2&rotate=90'" alt="热门视频">
                        <div class="title ellipsis">
                            {{ item.videoText}}
                        </div>
                        <div class="info clearfix">
                            <img v-if="item.user.avatarUrl" :src="item.user.avatarUrl" class="fl" alt="">
                            <img v-else src="/static/img/sharepage/avatar.png" class="fl" alt="">
                            <div class="name ellipsis">{{ item.user.username }}</div>
                            <span class="count fr">
                                <img src="/static/img/sharepage/play2.png" alt="">{{ item.viewShowCount }}
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 底部下载链接 -->
        <div class="footer">
            <a class="app-btn" onclick="openApp('video')"></a>
        </div>
    </div>
</section>
<script type="text/javascript" src="/static/js/axios.min.js"></script>
<script type="text/javascript" src="/static/js/vue.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script>

    var app = new Vue({
        el: '#section',
        data: {
            showOpenTips: false, // 判断该链接是否为提示后的newlink
            avatar: '', //用户头像
            name: '', //用户名
            des: '', //视频描述
            cover: '', //视频封面
            videoUrl: '', //视频地址
            userVideo: [], //用户精彩视频
            hotVideo: [], //热门视频
            showPoster: true, //显示海报
            showVideo: false, //显示播放器
            showBtn: false, //显示播放按钮
            showPop: false, //显示重播弹出遮罩
            showError: false // 显示错误页
        },
        created: function () {
            var _self = this,
                _id = parseUrl('id'),
                _url = '/m/video/detail?vpId=' + _id,
                _tips = parseUrl('sharetip');
            if (_self.isWeixin() && _tips) { // 页面在微信内打开，且tips的标识为true，则不调deeplink，改为展示指引页
                _self.showOpenTips = true;
                return;
            } else { // 在浏览器内打开
                if (_tips) { // tips的标识为true，自动调用deeplink
                    document.getElementById('deepLink').click();
                    return;
                }
            }
            axios.get(_url).then(function (res) {
                if (res.data.status !== 0) { //返回值code不为0
                    _self.showError = true;
                }
                var obj = res.data.data; //数据
                //配置微信分享
                document.title = '@' + obj.video.user.username + ' 发布了一个料超级足的短视频，我也就看了100遍……';
                document.getElementById('shareImg').src = obj.video.coverUrl;
                _self.avatar = obj.video.user.avatarUrl ? obj.video.user.avatarUrl : '/static/img/sharepage/avatar.png';
                _self.name = obj.video.user.username;
                _self.des = obj.video.videoText;
                _self.cover = obj.video.coverUrl;
                _self.videoUrl = obj.video.videoUrl;
                _self.userVideo = obj.videos;
                _self.hotVideo = obj.hotVideos;
            }).catch(function (error) {
                var str = error.toString();
                if (str == 'Error: Request failed with status code 404') {
                    _self.showError = true;
                }
            });
        },
        methods: {
            playVideo: function () { // 海报的播放按钮进行播放视频
                const Media = document.getElementById("media");
                const Header = document.getElementById("header");
                const Higher = document.getElementById("videoWrap").offsetTop - Header.offsetHeight;
                this.showPoster = false;
                this.showVideo = true;
                this.showPop = false;
                Media.play();
                window.scrollTo(0, Higher);
            },
            videoStatus: function () { //播放器状态控制
                const Media = document.getElementById("media");
                const Header = document.getElementById("header");
                const Higher = document.getElementById("videoWrap").offsetTop - Header.offsetHeight;
                if (!Media.paused) {
                    Media.pause();
                    this.showBtn = true;
                } else {
                    Media.play();
                    this.showBtn = false;
                    window.scrollTo(0, Higher);
                }
            },
            mediaEnd: function () { // 视频播放结束
                this.showPop = true; // 显示遮罩
            },
            gotoVideo: function (id) { //打开视频详情页
                window.location.href = 'video_detail.html?id=' + id;
            },
            isWeixin: function () { //判断是否是微信
                var ua = navigator.userAgent.toLowerCase();
                return ua.match(/MicroMessenger/i) == "micromessenger";
            }
        }
    })

</script>
</body>
</html>
