/* line 3, ../../sass/city.scss */
.h21 {
  font-size: 21px;
  line-height: 21px;
  color: #212121;
  margin-bottom: 13px;
}

/* line 9, ../../sass/city.scss */
.h11 {
  font-size: 11px;
  line-height: 11px;
  color: #212121;
  margin-bottom: 35px;
}

/* line 16, ../../sass/city.scss */
.city-content {
  padding-top: 20px;
}
/* line 18, ../../sass/city.scss */
.city-content .city-title {
  margin-bottom: 28px;
}
/* line 20, ../../sass/city.scss */
.city-content .city-title img {
  width: 115px;
  height: 115px;
}
/* line 24, ../../sass/city.scss */
.city-content .city-title > div {
  margin-left: 165px;
}
/* line 27, ../../sass/city.scss */
.city-content .city-title .city-uplevel {
  margin-top: 35px;
}
/* line 31, ../../sass/city.scss */
.city-content > img {
  width: 100%;
}
/* line 35, ../../sass/city.scss */
.city-content .city-des {
  margin-top: 44px;
  margin-bottom: 42px;
  line-height: 1.5;
  text-align: justify;
}

/* line 44, ../../sass/city.scss */
.route-header div {
  margin: -7px auto 0;
  text-align: center;
}

/* line 50, ../../sass/city.scss */
.related-movie {
  margin: 0 -10px 38px;
}
/* line 52, ../../sass/city.scss */
.related-movie .movie-header {
  border-top: 1px solid #cecece;
  margin-bottom: 21px;
}
/* line 56, ../../sass/city.scss */
.related-movie .movie-header div:first-child {
  width: 67px;
  background-color: #FFF;
  margin: -7px auto 0;
  text-align: center;
}
/* line 65, ../../sass/city.scss */
.related-movie .movie-content li {
  margin: 0 10px 27px;
}
/* line 67, ../../sass/city.scss */
.related-movie .movie-content li img {
  width: 45px;
  height: 67px;
}
/* line 71, ../../sass/city.scss */
.related-movie .movie-content li .movie-title {
  margin-left: 63px;
  padding-top: 15px;
}
/* line 75, ../../sass/city.scss */
.related-movie .movie-content li .movie-num {
  right: 0;
  top: 0;
  margin-left: 42px;
  text-align: right;
}
