@charset "utf-8";
@import "compass/css3";
@import "variables";

html{
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

section{
    overflow: hidden;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

div,p,span,a,nav,input,select,ul,li,img{ 
    margin:0; 
    padding:0; 
    outline: 0; 
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;
}

input,select{-webkit-appearance: none;}

ol,ul {
    list-style: none;
}

* {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    @include box-sizing(border-box);
}

body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;

    font-family: Microsoft Yahei,Tahoma,Arial,sans-serif;
    background-color: #000;
    font-size:1.4rem;
    color: #fff;
    width: 100%;
}

*,:after,:before {
    // box-sizing: inherit
}

a {
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 1
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.clearfix:after,.clearfix:before {
    content: "";
    display: block;
    height: 0;
    overflow: hidden
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

.fr{ float: right;}
.fl{ float: left;}

.m0{ margin: 0;}
.mauto{ margin: 0 auto;}

.mc{ margin-right:auto; margin-left: auto;}

.fs10{ font-size: 0.1rem;line-height: 0.11rem;/*10px;*/}
.fs12{ font-size: 0.12rem;line-height: 0.12rem;/*12px;*/}
.fs13{ font-size: 0.13rem;line-height: 0.13rem;/*13px;*/}
.fs14{ font-size: 0.14rem;line-height: 0.14rem;/*14px;*/}
.fs15{ font-size: 0.15rem;line-height: 0.15rem;/*15px;*/}
.fs16{ font-size: 0.16rem;line-height: 0.16rem;/*16px;*/}
.fs18{ font-size: 0.18rem;line-height: 0.18rem;/*18px;*/}
.fs20{ font-size: 0.2rem;line-height: 0.2rem;/*20px;*/}
.fs21{ font-size: 0.21rem;line-height: 0.21rem;/*20px;*/}
.fs24{ font-size: 0.24rem;line-height: 0.24rem;/*24px;*/}
.fs26{ font-size: 0.26rem;line-height: 0.26rem;/*26px;*/}
.fs28{ font-size: 0.28rem;line-height: 0.28rem;/*28px;*/}
.fs32{ font-size: 0.32rem;line-height: 0.32rem;/*32px;*/}
.fs36{ font-size: 0.36rem;line-height: 0.36rem;/*36px;*/}
.fwb{ font-weight: bold;}
.fwn{ font-weight: normal;}
.dsil{ display: inline;}
.dsilb{ display: inline-block;}
.dsb{ display: block;}
.dsn{ display: none;}
.alic{text-align: center;}
.alil{text-align: left;}
.alir{text-align: right;}
.pta{ position: absolute;}
.ptr{ position: relative;}
.ptf{ position: fixed;}
.pts{ position: static;}
.lauto{ left: auto;}

.ovh{ overflow: hidden;}
.ovv{ overflow: visible;}
.z1{ z-index: 1;}
.z2{ z-index: 2;}
.z3{ z-index: 3;}
.z4{ z-index: 4;}
.z5{ z-index: 5;}
.z6{ z-index: 6;}
.z7{ z-index: 7;}
.z8{ z-index: 8;}
.z9{ z-index: 9;}
.z10{ z-index: 10;}
.bdrp10{ border-radius: 10%;}
.bdrp50{ border-radius: 50%;}
.vam{ vertical-align: middle;}
.vat{ vertical-align: top;}
.vab{ vertical-align: bottom;}
.yellow{ color: #fed318;}

.bg33{ background: $black;}


.ellipsis{white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.scrolly{ overflow-y: scroll;}
.scrollx{ overflow-x: scroll;}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.4rem;
    background-color: #ffdc1a;
    background-size: 100% 100%;
    //margin-bottom: 0.095rem;
    img{
        float: left;
        width: 0.665rem;
        margin-top: 0.04rem;
        margin-left: 0.108rem;
    }
    .share-detail{
        position: relative;
        padding-left: 0.78rem;
        height: 0.4rem;
        .share-title{
            font-size: 0.19rem;
            margin-bottom: 0;
            color: #000;
            line-height: 0.4rem;
            font-weight: bold;
            padding-right: 0.88rem;
            text-align: right;
        }
        a{
            position: absolute;
            right: 0.095rem;
            top: 0.065rem;
            -moz-border-radius: 0.2em /*{global-radii-buttons}*/;
            -webkit-border-radius: 0.2em /*{global-radii-buttons}*/;
            border-radius: 0.06rem /*{global-radii-buttons}*/;
            text-decoration: none;
            font-size: 0.14rem;
            font-weight:bold;
            color:#fff;
            background-color:#000;
            padding: 0.06rem 0.11rem;
            line-height: 1;
        }
    }
}

.container{
    background-color: #0e1018;
    color: #fff;
    margin:0 auto;
    max-height:100%;
    font-size: 0.12rem;
    //max-width:640px;
    //padding: 130px 24px 0;
}

//top和最新的视频列表
.top-video-wrap{
    background-color: #0e1018;
    padding: 0.185rem 0.11rem 0.33rem;
    .tab{
        width: 1.8rem;
        height: 0.35rem;
        margin: 0 auto 0.175rem;
        background-color: #404040;
        border-radius: 0.9rem;
        font-size: 0.15rem;
        line-height: 0.35rem;
        position: relative;
        .left{
            width: 49%;
            line-height: 0.35rem;
        }
        .right{
            width: 48%;
            line-height: 0.35rem;
        }
        .btn{
            position: absolute;
            width: 50%;
            top: 0;
            height: 100%;
            line-height: 0.35rem;
            text-align: center;
            background: #fed318;
            border-radius: 0.9rem;
            color: #401212;
        }
        .btn-left{
            left: 0;
        }
        .btn-right{
            right: 0;
        }
    }
    .video-list{
        li{
            width: 49.7%;
            position: relative;
            margin-bottom: 0.01rem;
            text-shadow: 2px 2px 3px #585858;
            >div{
                height: 100%;
            }
            &:nth-child(2n){
                margin-left: 0.6%;
            }
            img{
                width: 100%;
                height: 3.3rem;
            }
            .tag{
                background-color: #f92727;
                padding: 0.035rem 0.095rem;
                position: absolute;
                top: 0.1rem;
                right: 0.09rem;
                border-radius: 0.1rem;
                line-height: 1;
            }
            .num{
                position: absolute;
                top: 0.1rem;
                right: 0.09rem;
            }
            .title{
                width: 100%;
                position: absolute;
                font-size: 0.14rem;
                padding: 0 0.085rem;
                left: 0;
                bottom: 0.375rem;
            }
            .info{
                font-size: 0.12rem;
                width: 100%;
                >img{
                    width: 0.24rem;
                    height: 0.24rem;
                    border-radius: 50%;
                    margin-right: 0.075rem;
                }
                position: absolute;
                padding: 0 0.085rem;
                left: 0;
                bottom: 0.06rem;
                .name{
                    display: inline-block;
                    width: 0.6rem;
                    line-height: 0.24rem;
                }
                .count{
                    line-height: 0.24rem;
                    img{
                        width: 0.076rem;
                        height: 0.083rem;
                        margin-right: 0.054rem;
                    }
                }
            }
        }
    }
}

.footer{
    background-image: url("/static/img/sharepage/footer.png");
    background-size: 100%;
    width: 100%;
    height: 0.94rem;
    position: relative;
    .app-btn{
        position: absolute;
        width: 0.77rem;
        height: 0.33rem;
        right: 0.125rem;
        bottom: 0.13rem;
    }
}
//错误页
.error-page{
    background: #ccc;
    height: calc(100vh);
    font-size: 0.3rem;
    text-align: center;
    .wrap{
        padding-top: calc(50vh - 0.35rem);
        color: #666;
    }
    .info{
        font-size: 0.25rem;
        margin-bottom: 0.1rem;
    }
    .guide{
        font-size: 0.2rem;
    }
}

[v-cloak] {
  display: none;
}
