.topic-wrap{
	padding-top: 0.4rem;
	position: relative;
	.bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 110%;
		height: 110%;
		margin-left: -5%;
		margin-top: -5%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-color: rgba(22,22,22,.7);
		-webkit-webkit-filter: blur(30px);
		-moz-webkit-filter: blur(30px);
		-ms-webkit-filter: blur(30px);
		-o-webkit-filter: blur(30px);
		webkit-filter: blur(30px);
		filter: blur(30px);
		z-index: -2;
		&:after{
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(22,22,22,.6);
		}
	}
	.layer{
		padding: 0.315rem 0.295rem 0;
	}
	.title{
		margin-bottom: 0.125rem;
		span{
			margin-right: 0.085rem;
		}
	}
	.hot{
		margin-bottom: 0.374rem;
		img{
			width: 0.118rem;
			height: 0.126rem;
			margin-right: 0.062rem;
		}
	}
	.des{
		text-align: justify;
		line-height: 0.18rem;
		margin-bottom: 0.38rem;
	}
	.sponsor{
		padding-bottom: 0.195rem;
		.avatar{
			width: 0.35rem;
			height: 0.35rem;
			border-radius: 50%;
		}
		>div{
			margin-left: 0.35rem;
			padding-left: 0.09rem;
		}
		.name{
			margin-top: 0.085rem;
		}
	}
}