.user-wrap{
	position: relative;
	padding-bottom: 0.263rem;
	.bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 110%;
		height: 110%;
		margin-left: -5%;
		margin-top: -5%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-color: rgba(22,22,22,.7);
		-webkit-webkit-filter: blur(6px);
		-moz-webkit-filter: blur(6px);
		-ms-webkit-filter: blur(6px);
		-o-webkit-filter: blur(6px);
		webkit-filter: blur(6px);
		filter: blur(6px);
		z-index: -2;
		&:after{
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(22,22,22,.6);
		}
	}
	.layer{
		padding: 0.187rem 0.15rem 0;
		img{
			width: 0.83rem;
			height: 0.83rem;
			border-radius: 50%;
		}
	}
	.name-wrap{
		margin: 0 0 0.225rem 1.03rem;
		.name{
			padding-top: 0.195rem;
			padding-bottom: 0.16rem;
			font-size: 0.17rem;
			opacity: 0.7;
		}
		.follow-btn{
			background-image: url("/static/img/sharepage/follow.png");
			background-repeat: no-repeat;
			background-size: cover;
			width: 0.6rem;
			height: 0.25rem;
		}
	}
	.sex{
		margin-bottom: 0.21rem;
		opacity: 0.7;
	}
	.address{
		margin-bottom: 0.3rem;
		opacity: 0.7;
	}
	.des{
		text-align: justify;
		line-height: 0.18rem;
		margin-bottom: 0.36rem;
		opacity: 0.4;
	}
	.count{
		span{
			margin-left: 0.05rem;
			margin-right: 0.185rem;
			font-size: 0.14rem;
		}
	}
}

.user-video-wrap{
    background-color: #0e1018;
    padding: 0.125rem 0.025rem 0.4rem;
    .tab{
        width: 1.685rem;
        height: 0.365rem;
        margin: 0 auto 0.115rem;
        background-color: #404040;
        border-radius: 0.9rem;
        font-size: 0.15rem;
        position: relative;
        .left{
            width: 49%;
            line-height: 0.365rem;
            border-radius: 0.9rem;
            span{
            	width: 0.178rem;
            	height: 0.12rem;
            	background-image: url("/static/img/sharepage/video.png");
            	background-repeat: no-repeat;
            	background-size: cover;
            	margin-right: 0.05rem;
            }
        }
        .right{
            width: 48%;
            line-height: 0.365rem;
            border-radius: 0.9rem;
            span{
            	width: 0.179rem;
            	height: 0.159rem;
            	background-image: url("/static/img/sharepage/like.png");
            	background-repeat: no-repeat;
            	background-size: cover;
            	margin-right: 0.05rem;
            	vertical-align: text-bottom;
            }
        }
        .btn{
            position: absolute;
            width: 50%;
            top: 0;
            height: 100%;
            line-height: 0.35rem;
            text-align: center;
            background: #e84a00;
            border-radius: 0.9rem;
        }
        .btn-left{
            left: 0;
            img{
            	width: 0.178rem;
            	height: 0.12rem;
            	margin-right: 0.05rem;
            	vertical-align: baseline;
            }
        }
        .btn-right{
            right: 0;
            img{
            	width: 0.179rem;
            	height: 0.159rem;
            	margin-right: 0.05rem;
            }
        }
    }
    .video-list{
        li{
            width: 33%;
            margin-bottom: 0.025rem;
            >div{
                height: 1.92rem;
            }
            margin-right: 0.4%;
            &:nth-child(3n){
                margin-right: 0;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}