@import "variables";

.video-detail{
	padding: 0.495rem 0.15rem 0.3rem;
	color: #fff;
	.avatar{
		width: 0.355rem;
		height: 0.355rem;
		border-radius: 50%;
	}
	.username{
		padding-left: 0.49rem;
		height: 0.355rem;
		font-size: 0.14rem;
		line-height: 0.355rem;
		margin-bottom: 0.15rem;
	}
	.user-des{
		font-size: 0.16rem;
		margin-bottom: 0.255rem;
	}
	.video-wrap{
		.play-btn{
			width: 0.329rem;
			height: 0.363rem;
			background-image: url("/static/img/sharepage/play.png");
			background-size: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -0.181rem;
			margin-left: -0.164rem;
		}
		.video-poster{
			text-align: center;
			position: relative;
			img{
				width: 2.807rem;
				height: 4.425rem;
			}
			
		}
		.video-play{
			margin: 0 -0.15rem;
			position: relative;
			video{
				width: 100%;
				height: calc(100vh - 0.4rem);
			}
		}
	}
}

.user-video{
	padding: 0 0 0.304rem 0.15rem;
	>div{
		margin-bottom: 0.2rem;
		color: #fff;
		font-size: 0.14rem;
		span{
			color: #fcbc39;
			font-size: 0.16rem;
			margin-right: 0.05rem;
		}
	}
	.video-list{
		overflow-y: hidden;
		ul{
			display:inline;
			white-space: nowrap;
		}
		li{
			display: inline-block;
			margin-right: 0.037rem;
			img{
				width: 0.943rem;
				height: 1.486rem;
			}
		}
	}
}

.hot-video{
	>div{
		text-align: center;
		font-size: 0.16rem;
		margin-bottom: 0.1rem;
	}
	.video-list{
		width: 100%;
		margin-bottom: 0.275rem;
		li{
			width: 50%;
			position: relative;
			margin-bottom: 1px;
			height: 3.02rem;
			>div{
				height: 100%;
			}
			&:nth-child(2n){
				>div{
					margin-left: 1px;
				}
			}
			img{
				width: 100%;
				height: 100%;
			}
			.title{
				position: absolute;
				font-size: 0.14rem;
				padding: 0 0.085rem;
				left: 0;
				bottom: 0.375rem;
			}
			.info{
				font-size: 0.12rem;
				width: 100%;
				img{
					width: 0.24rem;
					height: 0.24rem;
					border-radius: 50%;
					margin-right: 0.075rem;
				}
				position: absolute;
				padding: 0 0.085rem;
				left: 0;
				bottom: 0.06rem;
				.name{
					display: inline-block;
					width: 0.8rem;
					line-height: 0.24rem;
				}
				.count{
					line-height: 0.24rem;
					img{
						width: 0.076rem;
						height: 0.083rem;
						margin-right: 0.054rem;
					}
				}
			}
		}
	}
}