$black:#212121;
$blacklight:#585858;
$greydark:#989898;
$greylight:#979797;
$grey:#cecece;
$whitedark:#f1f1f1;
$whitelight:#f9f9f9;
$bluedark:#598be5;
$bluelight:#e9effb;
$khaki:#b78f3e;
$orange:#f35c3e;
$green:#83be52;
