/* line 5, ../../sass/base.scss */
html {
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}

/* line 9, ../../sass/base.scss */
html, body {
  height: 100%;
}

/* line 13, ../../sass/base.scss */
section {
  overflow: hidden;
}

/* line 17, ../../sass/base.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* line 24, ../../sass/base.scss */
div, p, span, a, nav, input, select, ul, li, img {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 33, ../../sass/base.scss */
input, select {
  -webkit-appearance: none;
}

/* line 35, ../../sass/base.scss */
ol, ul {
  list-style: none;
}

/* line 39, ../../sass/base.scss */
* {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 46, ../../sass/base.scss */
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  font-family: Microsoft Yahei,Tahoma,Arial,sans-serif;
  background-color: #fff;
  font-size: 1.4rem;
  color: #fff;
  width: 100%;
}

/* line 63, ../../sass/base.scss */
a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}

/* line 70, ../../sass/base.scss */
img {
  vertical-align: middle;
  max-width: 100%;
}

/* line 75, ../../sass/base.scss */
.clearfix:after, .clearfix:before {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 82, ../../sass/base.scss */
.clearfix:after {
  clear: both;
}

/* line 86, ../../sass/base.scss */
.clearfix {
  zoom: 1;
}

/* line 90, ../../sass/base.scss */
.fr {
  float: right;
}

/* line 91, ../../sass/base.scss */
.fl {
  float: left;
}

/* line 93, ../../sass/base.scss */
.m0 {
  margin: 0;
}

/* line 94, ../../sass/base.scss */
.mauto {
  margin: 0 auto;
}

/* line 96, ../../sass/base.scss */
.mc {
  margin-right: auto;
  margin-left: auto;
}

/* line 98, ../../sass/base.scss */
.fs10 {
  font-size: 0.1rem;
  line-height: 0.11rem;
  /*10px;*/
}

/* line 99, ../../sass/base.scss */
.fs12 {
  font-size: 0.12rem;
  line-height: 0.12rem;
  /*12px;*/
}

/* line 100, ../../sass/base.scss */
.fs13 {
  font-size: 0.13rem;
  line-height: 0.13rem;
  /*13px;*/
}

/* line 101, ../../sass/base.scss */
.fs14 {
  font-size: 0.14rem;
  line-height: 0.14rem;
  /*14px;*/
}

/* line 102, ../../sass/base.scss */
.fs15 {
  font-size: 0.15rem;
  line-height: 0.15rem;
  /*15px;*/
}

/* line 103, ../../sass/base.scss */
.fs16 {
  font-size: 0.16rem;
  line-height: 0.16rem;
  /*16px;*/
}

/* line 104, ../../sass/base.scss */
.fs18 {
  font-size: 0.18rem;
  line-height: 0.18rem;
  /*18px;*/
}

/* line 105, ../../sass/base.scss */
.fs20 {
  font-size: 0.2rem;
  line-height: 0.2rem;
  /*20px;*/
}

/* line 106, ../../sass/base.scss */
.fs21 {
  font-size: 0.21rem;
  line-height: 0.21rem;
  /*20px;*/
}

/* line 107, ../../sass/base.scss */
.fs24 {
  font-size: 0.24rem;
  line-height: 0.24rem;
  /*24px;*/
}

/* line 108, ../../sass/base.scss */
.fs26 {
  font-size: 0.26rem;
  line-height: 0.26rem;
  /*26px;*/
}

/* line 109, ../../sass/base.scss */
.fs28 {
  font-size: 0.28rem;
  line-height: 0.28rem;
  /*28px;*/
}

/* line 110, ../../sass/base.scss */
.fs32 {
  font-size: 0.32rem;
  line-height: 0.32rem;
  /*32px;*/
}

/* line 111, ../../sass/base.scss */
.fs36 {
  font-size: 0.36rem;
  line-height: 0.36rem;
  /*36px;*/
}

/* line 112, ../../sass/base.scss */
.fwb {
  font-weight: bold;
}

/* line 113, ../../sass/base.scss */
.fwn {
  font-weight: normal;
}

/* line 114, ../../sass/base.scss */
.dsil {
  display: inline;
}

/* line 115, ../../sass/base.scss */
.dsilb {
  display: inline-block;
}

/* line 116, ../../sass/base.scss */
.dsb {
  display: block;
}

/* line 117, ../../sass/base.scss */
.dsn {
  display: none;
}

/* line 118, ../../sass/base.scss */
.alic {
  text-align: center;
}

/* line 119, ../../sass/base.scss */
.alil {
  text-align: left;
}

/* line 120, ../../sass/base.scss */
.alir {
  text-align: right;
}

/* line 121, ../../sass/base.scss */
.pta {
  position: absolute;
}

/* line 122, ../../sass/base.scss */
.ptr {
  position: relative;
}

/* line 123, ../../sass/base.scss */
.ptf {
  position: fixed;
}

/* line 124, ../../sass/base.scss */
.pts {
  position: static;
}

/* line 125, ../../sass/base.scss */
.lauto {
  left: auto;
}

/* line 127, ../../sass/base.scss */
.ovh {
  overflow: hidden;
}

/* line 128, ../../sass/base.scss */
.ovv {
  overflow: visible;
}

/* line 129, ../../sass/base.scss */
.z1 {
  z-index: 1;
}

/* line 130, ../../sass/base.scss */
.z2 {
  z-index: 2;
}

/* line 131, ../../sass/base.scss */
.z3 {
  z-index: 3;
}

/* line 132, ../../sass/base.scss */
.z4 {
  z-index: 4;
}

/* line 133, ../../sass/base.scss */
.z5 {
  z-index: 5;
}

/* line 134, ../../sass/base.scss */
.z6 {
  z-index: 6;
}

/* line 135, ../../sass/base.scss */
.z7 {
  z-index: 7;
}

/* line 136, ../../sass/base.scss */
.z8 {
  z-index: 8;
}

/* line 137, ../../sass/base.scss */
.z9 {
  z-index: 9;
}

/* line 138, ../../sass/base.scss */
.z10 {
  z-index: 10;
}

/* line 139, ../../sass/base.scss */
.bdrp10 {
  border-radius: 10%;
}

/* line 140, ../../sass/base.scss */
.bdrp50 {
  border-radius: 50%;
}

/* line 141, ../../sass/base.scss */
.vam {
  vertical-align: middle;
}

/* line 142, ../../sass/base.scss */
.vat {
  vertical-align: top;
}

/* line 143, ../../sass/base.scss */
.vab {
  vertical-align: bottom;
}

/* line 144, ../../sass/base.scss */
.yellow {
  color: #fed318;
}

/* line 146, ../../sass/base.scss */
.bg33 {
  background: #212121;
}

/* line 149, ../../sass/base.scss */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 150, ../../sass/base.scss */
.scrolly {
  overflow-y: scroll;
}

/* line 151, ../../sass/base.scss */
.scrollx {
  overflow-x: scroll;
}

/* line 153, ../../sass/base.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.4rem;
  background-color: #ffdc1a;
  background-size: 100% 100%;
}
/* line 162, ../../sass/base.scss */
#header img {
  float: left;
  width: 0.8rem;
  margin-top: 0.04rem;
  margin-left: 0.108rem;
}
/* line 168, ../../sass/base.scss */
#header .share-detail {
  position: relative;
  padding-left: 1.22rem;
  height: 0.4rem;
}
/* line 172, ../../sass/base.scss */
#header .share-detail .share-title {
  font-size: 0.21rem;
  margin-bottom: 0;
  color: #000;
  line-height: 0.4rem;
  font-weight: bold;
}
/* line 179, ../../sass/base.scss */
#header .share-detail a {
  position: absolute;
  right: 0.095rem;
  top: 0.065rem;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.06rem;
  text-decoration: none;
  font-size: 0.14rem;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 0.06rem 0.11rem;
  line-height: 1;
}

/* line 197, ../../sass/base.scss */
.container {
  background-color: #0e1018;
  color: #fff;
  margin: 0 auto;
  max-height: 100%;
  font-size: 0.12rem;
}

/* line 208, ../../sass/base.scss */
.top-video-wrap {
  background-color: #0e1018;
  padding: 0.185rem 0.11rem 0.33rem;
}
/* line 211, ../../sass/base.scss */
.top-video-wrap .tab {
  width: 1.8rem;
  height: 0.35rem;
  margin: 0 auto 0.175rem;
  background-color: #404040;
  border-radius: 0.9rem;
  font-size: 0.15rem;
  line-height: 0.35rem;
  position: relative;
}
/* line 220, ../../sass/base.scss */
.top-video-wrap .tab .left {
  width: 49%;
  line-height: 0.35rem;
}
/* line 224, ../../sass/base.scss */
.top-video-wrap .tab .right {
  width: 48%;
  line-height: 0.35rem;
}
/* line 228, ../../sass/base.scss */
.top-video-wrap .tab .btn {
  position: absolute;
  width: 50%;
  top: 0;
  height: 100%;
  line-height: 0.35rem;
  text-align: center;
  background: #fed318;
  border-radius: 0.9rem;
  color: #401212;
}
/* line 239, ../../sass/base.scss */
.top-video-wrap .tab .btn-left {
  left: 0;
}
/* line 242, ../../sass/base.scss */
.top-video-wrap .tab .btn-right {
  right: 0;
}
/* line 247, ../../sass/base.scss */
.top-video-wrap .video-list li {
  width: 49.7%;
  position: relative;
  margin-bottom: 0.01rem;
  text-shadow: 2px 2px 3px #585858;
}
/* line 252, ../../sass/base.scss */
.top-video-wrap .video-list li > div {
  height: 100%;
}
/* line 255, ../../sass/base.scss */
.top-video-wrap .video-list li:nth-child(2n) {
  margin-left: 0.6%;
}
/* line 258, ../../sass/base.scss */
.top-video-wrap .video-list li img {
  width: 100%;
  height: 3.3rem;
}
/* line 262, ../../sass/base.scss */
.top-video-wrap .video-list li .tag {
  background-color: #f92727;
  padding: 0.035rem 0.095rem;
  position: absolute;
  top: 0.1rem;
  right: 0.09rem;
  border-radius: 0.1rem;
  line-height: 1;
}
/* line 271, ../../sass/base.scss */
.top-video-wrap .video-list li .num {
  position: absolute;
  top: 0.1rem;
  right: 0.09rem;
}
/* line 276, ../../sass/base.scss */
.top-video-wrap .video-list li .title {
  width: 100%;
  position: absolute;
  font-size: 0.14rem;
  padding: 0 0.085rem;
  left: 0;
  bottom: 0.375rem;
  width: 100%;
}
/* line 285, ../../sass/base.scss */
.top-video-wrap .video-list li .info {
  font-size: 0.12rem;
  width: 100%;
  position: absolute;
  padding: 0 0.085rem;
  left: 0;
  bottom: 0.06rem;
}
/* line 288, ../../sass/base.scss */
.top-video-wrap .video-list li .info img {
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 50%;
  margin-right: 0.075rem;
}
/* line 298, ../../sass/base.scss */
.top-video-wrap .video-list li .info .name {
  display: inline-block;
  width: 0.6rem;
  line-height: 0.24rem;
}
/* line 303, ../../sass/base.scss */
.top-video-wrap .video-list li .info .count {
  line-height: 0.24rem;
}
/* line 305, ../../sass/base.scss */
.top-video-wrap .video-list li .info .count img {
  width: 0.076rem;
  height: 0.083rem;
  margin-right: 0.054rem;
}

/* line 316, ../../sass/base.scss */
.footer {
  background-image: url("/static/img/sharepage/footer.png");
  background-size: 100%;
  width: 100%;
  height: 0.94rem;
  position: relative;
}
/* line 322, ../../sass/base.scss */
.footer .app-btn {
  position: absolute;
  width: 0.77rem;
  height: 0.33rem;
  right: 0.125rem;
  bottom: 0.13rem;
}

/* line 331, ../../sass/base.scss */
.error-page {
  background: #ccc;
  height: calc(100vh);
  font-size: 0.3rem;
  text-align: center;
}
/* line 336, ../../sass/base.scss */
.error-page .wrap {
  padding-top: calc(50vh - 0.35rem);
  color: #666;
}
/* line 340, ../../sass/base.scss */
.error-page .info {
  font-size: 0.25rem;
  margin-bottom: 0.1rem;
}
/* line 344, ../../sass/base.scss */
.error-page .guide {
  font-size: 0.2rem;
}

/* line 349, ../../sass/base.scss */
[v-cloak] {
  display: none;
}
