/* line 1, ../../sass/playDetail.scss */
.play-wrap {
  padding-top: 0.4rem;
  position: relative;
}
/* line 4, ../../sass/playDetail.scss */
.play-wrap .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  margin-left: -5%;
  margin-top: -5%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(22, 22, 22, 0.7);
  -webkit-webkit-filter: blur(6px);
  -moz-webkit-filter: blur(6px);
  -ms-webkit-filter: blur(6px);
  -o-webkit-filter: blur(6px);
  webkit-filter: blur(6px);
  filter: blur(6px);
  z-index: -2;
}
/* line 23, ../../sass/playDetail.scss */
.play-wrap .bg:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.6);
}
/* line 33, ../../sass/playDetail.scss */
.play-wrap .layer {
  padding: 0.32rem 0.21rem 0;
}
/* line 36, ../../sass/playDetail.scss */
.play-wrap .title {
  margin-bottom: 0.125rem;
}
/* line 38, ../../sass/playDetail.scss */
.play-wrap .title span {
  margin-right: 0.085rem;
}
/* line 42, ../../sass/playDetail.scss */
.play-wrap .tv {
  width: 0.68rem;
  height: 0.72rem;
  position: relative;
  margin: 0 auto;
}
/* line 47, ../../sass/playDetail.scss */
.play-wrap .tv div {
  border-radius: 10px;
  position: absolute;
  width: 73%;
  height: 59%;
  top: 17%;
  left: 13%;
  z-index: -1;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 50%;
}
/* line 59, ../../sass/playDetail.scss */
.play-wrap .tv img {
  width: 100%;
  height: 100%;
}
/* line 65, ../../sass/playDetail.scss */
.play-wrap .des {
  text-align: justify;
  line-height: 0.18rem;
  margin-bottom: 0.38rem;
}
/* line 70, ../../sass/playDetail.scss */
.play-wrap .sponsor {
  padding-bottom: 0.195rem;
}
/* line 72, ../../sass/playDetail.scss */
.play-wrap .sponsor .avatar {
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 50%;
}
/* line 77, ../../sass/playDetail.scss */
.play-wrap .sponsor > div {
  margin-left: 0.35rem;
  padding-left: 0.09rem;
}
/* line 81, ../../sass/playDetail.scss */
.play-wrap .sponsor .name {
  margin-top: 0.085rem;
}
