/* line 1, ../../sass/userDetail.scss */
.user-wrap {
  position: relative;
  padding-bottom: 0.263rem;
}
/* line 4, ../../sass/userDetail.scss */
.user-wrap .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  margin-left: -5%;
  margin-top: -5%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(22, 22, 22, 0.7);
  -webkit-webkit-filter: blur(6px);
  -moz-webkit-filter: blur(6px);
  -ms-webkit-filter: blur(6px);
  -o-webkit-filter: blur(6px);
  webkit-filter: blur(6px);
  filter: blur(6px);
  z-index: -2;
}
/* line 23, ../../sass/userDetail.scss */
.user-wrap .bg:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.6);
}
/* line 33, ../../sass/userDetail.scss */
.user-wrap .layer {
  padding: 0.187rem 0.15rem 0;
}
/* line 35, ../../sass/userDetail.scss */
.user-wrap .layer img {
  width: 0.83rem;
  height: 0.83rem;
  border-radius: 50%;
}
/* line 41, ../../sass/userDetail.scss */
.user-wrap .name-wrap {
  margin: 0 0 0.225rem 1.03rem;
}
/* line 43, ../../sass/userDetail.scss */
.user-wrap .name-wrap .name {
  padding-top: 0.195rem;
  padding-bottom: 0.12rem;
  font-size: 0.17rem;
  opacity: 0.7;
}
/* line 49, ../../sass/userDetail.scss */
.user-wrap .name-wrap .follow-btn {
  background-image: url("/static/img/sharepage/follow.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.6rem;
  height: 0.25rem;
}
/* line 57, ../../sass/userDetail.scss */
.user-wrap .sex {
  margin-bottom: 0.21rem;
  opacity: 0.7;
}
/* line 61, ../../sass/userDetail.scss */
.user-wrap .address {
  margin-bottom: 0.3rem;
  opacity: 0.7;
}
/* line 65, ../../sass/userDetail.scss */
.user-wrap .des {
  text-align: justify;
  line-height: 0.18rem;
  margin-bottom: 0.36rem;
  opacity: 0.4;
}
/* line 71, ../../sass/userDetail.scss */
.user-wrap .count {
  font-weight: bold;
}
/* line 73, ../../sass/userDetail.scss */
.user-wrap .count span {
  font-weight: normal;
  margin-left: 0.05rem;
  margin-right: 0.185rem;
  font-size: 0.14rem;
}

/* line 82, ../../sass/userDetail.scss */
.user-video-wrap {
  background-color: #0e1018;
  padding: 0.125rem 0.025rem 0.4rem;
}
/* line 85, ../../sass/userDetail.scss */
.user-video-wrap .tab {
  width: 1.685rem;
  height: 0.365rem;
  margin: 0 auto 0.115rem;
  background-color: #404040;
  border-radius: 0.9rem;
  font-size: 0.15rem;
  position: relative;
}
/* line 93, ../../sass/userDetail.scss */
.user-video-wrap .tab .left {
  width: 49%;
  line-height: 0.365rem;
  border-radius: 0.9rem;
}
/* line 97, ../../sass/userDetail.scss */
.user-video-wrap .tab .left span {
  width: 0.178rem;
  height: 0.12rem;
  background-image: url("/static/img/sharepage/video.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.05rem;
}
/* line 106, ../../sass/userDetail.scss */
.user-video-wrap .tab .right {
  width: 48%;
  line-height: 0.365rem;
  border-radius: 0.9rem;
}
/* line 110, ../../sass/userDetail.scss */
.user-video-wrap .tab .right span {
  width: 0.179rem;
  height: 0.159rem;
  background-image: url("/static/img/sharepage/like.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.05rem;
  vertical-align: text-bottom;
}
/* line 120, ../../sass/userDetail.scss */
.user-video-wrap .tab .btn {
  position: absolute;
  width: 50%;
  top: 0;
  height: 100%;
  line-height: 0.365rem;
  text-align: center;
  background: #e84a00;
  border-radius: 0.9rem;
}
/* line 130, ../../sass/userDetail.scss */
.user-video-wrap .tab .btn-left {
  left: 0;
}
/* line 132, ../../sass/userDetail.scss */
.user-video-wrap .tab .btn-left img {
  width: 0.178rem;
  height: 0.12rem;
  margin-right: 0.05rem;
  vertical-align: baseline;
}
/* line 139, ../../sass/userDetail.scss */
.user-video-wrap .tab .btn-right {
  right: 0;
}
/* line 141, ../../sass/userDetail.scss */
.user-video-wrap .tab .btn-right img {
  width: 0.179rem;
  height: 0.159rem;
  margin-right: 0.05rem;
}
/* line 149, ../../sass/userDetail.scss */
.user-video-wrap .video-list li {
  width: 33%;
  margin-bottom: 0.025rem;
  margin-right: 0.4%;
}
/* line 152, ../../sass/userDetail.scss */
.user-video-wrap .video-list li > div {
  height: 2.17rem;
}
/* line 156, ../../sass/userDetail.scss */
.user-video-wrap .video-list li:nth-child(3n) {
  margin-right: 0;
}
/* line 159, ../../sass/userDetail.scss */
.user-video-wrap .video-list li img {
  width: 100%;
  height: 100%;
}
